<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:white;
    }
</style>
<body style="background-color: #3C4048">
<nav class="navbar" style="background-color: #00ABB3">
    <p class="navbar-brand" style="color: black; font-family: 'Franklin Gothic Medium' ";> Books Recommender System</p>
    <ul class="nav navbar-nav" style="color: white">
        <li><a href="/" style="color: black" >Home</a></li>
        <li><a href="/recommend" style="color: black">Recommend</a></li>
    </ul>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white" style="font-size: 50px;">Top 20 Books</h1>
                <h3 class="text-white">Here are the top 20 books which has the best ratings and votes compare to other books !</h3>
            </div>
            {% for i in range(book_name|length) %}
                <div class="col-md-3" style="margin-top: 50px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ image[i] }}">
                            <p class="text-white" style="font-size: 1.2em;">Book Name: {{ book_name[i] }}</p>
                           <h4 class="text-white" style="font-size: 1.2em;">Author Name: {{ author[i] }}</h4>
                            <h4 class="text-white" style="font-size: 1.2em;">Votes : {{ votes[i] }}</h4>
                            <h4 class="text-white" style="font-size: 1.2em;">Rating : {{ rating[i] }}</h4>
                        </div>
                    </div>
                </div>
             {% endfor %}
        </div>
    </div>
</body>
</html>